module.exports = {
  apps: [
    {
      name: '{{name}}',
      script: 'node_modules/next/dist/bin/next',
      args: 'start -p {{port}}',
      cwd: '{{project_path}}',
      instances: 'max',
      exec_mode: 'cluster',
      env: {
        NODE_ENV: 'production',
        PORT: '{{port}}',
        {{environment_vars_js}}
      }
    }
  ]
}
