[Unit]
Description={{description}}
After=network.target

[Service]
User={{user}}
Group={{group}}
WorkingDirectory={{project_path}}
Environment=PORT={{port}}
Environment=NODE_ENV=production
EnvironmentFile={{project_path}}/.env
{{environment_vars}}
ExecStart={{start_command}}
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{name}}

[Install]
WantedBy=multi-user.target
